#b1{
    color: greenyellow;
    background-color: hotpink;
    height: 300px;
    width: 500px;
    border: yellow solid 5px;
}
.b2{
    color: plum;
    background-color: salmon;
    height: 300px;
    width: 500px;
    border: yellow solid 5px;

}