#ww{
    height: 100px;
    width: 200px;
    background-color: blanchedalmond;
}
#ee{
    height: 100px;
    width: 300px;
    background-color: blue;
    margin-top: -99px;
    margin-left: 233px;
}
h1{
    text-align: center;
}