.row{
    height: 500px;
    width: 100%;
    background-color: coral;
    display: flex;
    /* justify-content: right; */
    /* justify-content: space-evenly; */
    /* justify-content: space-between; */
    align-items: center;
    justify-content: space-around;

}
.col{
    height: 300px;
    width: 300px;
    background-color: cyan;
    border: solid white 2px;
}