h1{
    color: yellow;
}
#a1{
    color: violet;
}
.a2{
    color: blue;
}
p{
    color: rgb(235, 222, 44);
}
#ooo{
    color: chartreuse;
}
.pppp{
    color: darkblue;
}
th{
    color: purple ;
}
tr{
    color: orange;
}