h1{
    text-align: center;
    color: black;
}
#qq{
    height: 100px;
    width: 50px;
    background-color: deepskyblue;
    margin-left: 560px;
    margin-top: 50px;
}
#ww{
    height: 100px;
    width: 50px;
    background-color: rgb(146, 206, 34);
    margin-left: 620px;
    margin-top: -100px;
}
#ee{
    height: 100px;
    width: 50px;
    background-color: rgb(199, 187, 26);
    margin-left: 680px;
    margin-top: -100px;
}
#rr{
    height: 100px;
    width: 50px;
    background-color: rgb(6, 161, 73);
    margin-left: 740px;
    margin-top: -100px;
}
#tt{
    height: 100px;
    width: 50px;
    background-color: rgb(228, 142, 13);
    margin-left: 800px;
    margin-top: -100px;
}
#yy{
    height: 100px;
    width: 50px;
    background-color: rgba(202, 41, 49, 0.404);
    margin-left: 860px;
    margin-top: 10px;
}
#uu{
    height: 100px;
    width: 50px;
    background-color: rgba(29, 230, 153, 0.486);
    margin-left: 800px;
    margin-top: -100px;
}
#ii{
    height: 100px;
    width: 50px;
    background-color: rgb(47, 0, 255);
    margin-left: 740px;
    margin-top: -100px;
}
#oo{
    height: 100px;
    width: 50px;
    background-color: rgb(224, 24, 134);
    margin-left: 680px;
    margin-top: -100px;
}
#pp{
    height: 100px;
    width: 50px;
    background-color: rgb(65, 218, 218);
    margin-left: 620px;
    margin-top: -100px;
}
#aa{
    height: 100px;
    width: 50px;
    background-color: rgba(18, 140, 180, 0.356);
    margin-left: 560px;
    margin-top: -100px;
}
#ss{
    height: 100px;
    width: 50px;
    background-color: rgba(228, 90, 143, 0.541);
    margin-left: 500px;
    margin-top: -100px;
}
#dd{
    height: 100px;
    width: 50px;
    background-color: rgba(80, 233, 42, 0.514);
    margin-left: 920px;
    margin-top: 10px;
}
#ff{
    height: 100px;
    width: 50px;
    background-color: rgba(15, 214, 221, 0.863);
    margin-left: 860px;
    margin-top: -100px;
}
#gg{
    height: 100px;
    width: 50px;
    background-color: rgba(102, 209, 159, 0.329);
    margin-left: 800px;
    margin-top: -100px;
}
#hh{
    height: 100px;
    width: 50px;
    background-color: rgba(154, 231, 9, 0.849);
    margin-left: 740px;
    margin-top: -100px;
}
#jj{
    height: 100px;
    width: 50px;
    background-color: rgba(119, 11, 105, 0.603);
    margin-left: 680px;
    margin-top: -100px;
}
#kk{
    height: 100px;
    width: 50px;
    background-color: rgb(199, 124, 11);
    margin-left: 620px;
    margin-top: -100px;
}
#ll{
    height: 100px;
    width: 50px;
    background-color: rgba(208, 14, 214, 0.856);
    margin-left: 560px;
    margin-top: -100px;
}
#zz{
    height: 100px;
    width: 50px;
    background-color: rgba(13, 52, 65, 0.507);
    margin-left: 500px;
    margin-top: -100px;
}
#xx{
    height: 100px;
    width: 50px;
    background-color: rgb(11, 194, 87);
    margin-left: 440px;
    margin-top: -100px;
}
